@import "variables", "hover", "shadows", "buttons", "functions", "gradients";

.bg-login-image {
  background: url("../../assets/login_bg.jpg");
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url("../../assets/demo_profile.jpg");
  background-position: center;
  background-size: cover;
}

.btn-google {
  @include button-variant($brand-google, $white);
}

.btn-facebook {
  @include button-variant($brand-facebook, $white);
}
