router-outlet {
  height: 0;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #fff;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-nav {
  color: rgba(255,255,255,.5);
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: static;
  float: none;
}

.nav-link {
  color: rgba(255,255,255,.5);
  display: block;
  padding: .5rem 1rem;
}

.nav-item {
  display: inline-block;
  margin-bottom: -1px;
  flex-basis: 0;
  flex-grow: 1;
  flex: 1 1 auto;
  text-align: center;
  -ms-flex: 1 1 auto;
  -ms-flex-preferred-size: 0;
  -ms-flex-positive: 1;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}