@mixin align-items($value: stretch) {
    @if $value == flex-start {
      -webkit-box-align: start;
         -moz-box-align: start;
         -ms-flex-align: start;
    } @else if $value == flex-end {
      -webkit-box-align: end;
         -moz-box-align: end;
         -ms-flex-align: end;
    } @else {
      -webkit-box-align: $value;
         -moz-box-align: $value;
         -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
            align-items: $value;
}

@mixin transform($val) {
    -webkit-transform: translate($val, $val);
        -ms-transform: translate($val, $val);
            transform: translate($val, $val);
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }

@mixin user-select($val: none) {
    -webkit-user-select: $val;
    -moz-user-select: $val;
    -o-user-select: $val;
    -ms-user-select: $val;
    user-select: $val;
}

@mixin flex($flex-grow, $flex-shrink, $flex-basis) {
    flex: $flex-grow $flex-shrink $flex-basis;
    -ms-flex: $flex-grow $flex-shrink $flex-basis;
    -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
}

@mixin flex-flow($values: (row nowrap)) {
    -webkit-flex-flow: $values;
        -ms-flex-flow: $values;
            flex-flow: $values;
}

@mixin mx-flex-display {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin mx-flex-direction($direction: row) {
    @if $direction == row-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: horizontal;
           -moz-box-direction: reverse;
           -moz-box-orient: horizontal;
    } @else if $direction == column {
        -webkit-box-direction: normal;
         -webkit-box-orient: vertical;
           -moz-box-direction: normal;
            -moz-box-orient: vertical;
    } @else if $direction == column-reverse {
        -webkit-box-direction: reverse;
          -webkit-box-orient: vertical;
           -moz-box-direction: reverse;
             -moz-box-orient: vertical;
    } @else {
         -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
            -moz-box-direction: normal;
           -moz-box-orient: horizontal;
    }
    -webkit-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}

@mixin mx-flex-wrap($value: nowrap) {
    -webkit-flex-wrap: $value;
    @if $value == nowrap {
      -ms-flex-wrap: none;
    } @else {
      -ms-flex-wrap: $value;
    }
    flex-wrap: $value;
}
