@mixin transform {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin user-select($val: none) {
    -webkit-user-select: $val;
    -moz-user-select: $val;
    -o-user-select: $val;
    -ms-user-select: $val;
    user-select: $val;
}