@mixin transform {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin user-select($val: none) {
    -webkit-user-select: $val;
    -moz-user-select: $val;
    -o-user-select: $val;
    -ms-user-select: $val;
    user-select: $val;
}

@mixin flex($flex-grow, $flex-shrink, $flex-basis) {
    flex: $flex-grow $flex-shrink $flex-basis;
    -ms-flex: $flex-grow $flex-shrink $flex-basis;
     -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
}

@mixin flex-column-display {
    display: flex;
    flex-direction: column;
}
