$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

.messageContainer {
  display: flex;
  height: auto;
  width: 70%;
  min-width: 400px;
  border-radius: 5px;
  align-items: stretch;
  background-color: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.isOwnMessageContainer {
  background-color: #01579b;
}

.messageData {
  margin-bottom: 15px;
}

.sender {
  padding-left: 14px;
  color: #222;
  font-weight: bold;
}

.isOwnSender {
  color: #e1f5fe;
}

.timestamp {
  color: lighten($gray, 8%);
  padding-left: 6px;
  font-style: italic;
}

.isOwnTimestamp {
  color: #4fc3f7;
}

.messageContent {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  
  &:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $green;
    border-width: 10px;
    margin-left: -10px;
  }
}

.isOwnMessageContent {
  background-color: #e3f2fd;
  color: #01579b;
}

.myMessage {
  background: $blue;
  float: right;
  
  &:after {
    border-bottom-color: $blue;
    left: 93%;
  }
}

.otherMessage {
  background: $green;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}