@import "variables", "hover", "shadows", "buttons", "functions", "gradients";

.messageContainer {
  display: flex;
  width: 70%;
  min-width: 200px;
  height: auto;
  border-radius: 10px;
  align-items: stretch;
}

.isOwnMessageContainer {
  background-color: #01579b;
}

.messageData {
  font-size: 0.5em;
  margin: 0 10px;
}

.sender {
  padding-left: 14px;
  color: #222;
  font-weight: bold;
}

.isOwnSender {
  color: #e1f5fe;
}

.timestamp {
  color: lighten($gray, 8%);
  padding-left: 6px;
  font-style: italic;
}

.messageContent {
  color: white;
  padding: 10px 20px;
  line-height: 26px;
  font-size: 1.0em;
  border-radius: 20px;
  margin: 5px;
  width: auto;
  position: relative;
}

.isOwnMessageContent {
  background-color: #e3f2fd;
  color: #01579b;
}

.myMessage {
  color: black;
  background: $gray-300;
}

.otherMessage {
  background: $blue;
}

.align-left {
  float: left;
  clear: left;
  text-align: left;
}

.align-right {
  float: right;
  clear: right;
  text-align: right;
}