html * {
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: 1000;
}

app-chat {
  display: flex;
  flex-direction: column;
}

app-chat-form {
  width: 100%;
  display: flex;
  white-space: nowrap;
  overflow: none;
}

.message {
  display: block;
  height: auto;
}
